<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471775405410-683e70cnn1pkec320vpqm8k01mlpu3m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471775405410-683e70cnn1pkec320vpqm8k01mlpu3m9</string>
	<key>API_KEY</key>
	<string>AIzaSyCAE2PSm0KblCG4Z3OzmOYPkLGJAk-FlTg</string>
	<key>GCM_SENDER_ID</key>
	<string>471775405410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>the-golf-scorecard.the-golf-scorecard-app</string>
	<key>PROJECT_ID</key>
	<string>the-golf-scorecard-f6944</string>
	<key>STORAGE_BUCKET</key>
	<string>the-golf-scorecard-f6944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471775405410:ios:b4611924c1b791c923f83b</string>
</dict>
</plist>